@font-face {
    font-family: 'Sao Torpes';
    src: url('SaoTorpesRegular.woff2') format('woff2'),
        url('SaoTorpesRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

